<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to t("views.button.show"), @blog, class: "btn btn-info" %> |
<%= link_to t("views.button.back"), blogs_path, class: "btn btn-warning" %>
